body{
    background-color: darkgray;
    background-image: url(http://www.timetv.tv/uploads/timages/Cool%20Hd%20City%20Wallpapers.jpg)
}
body{
    color: whitesmoke;
}
a{
    color: whitesmoke;
}
body{
    font-family: cursive
}